main {
  width: 320px;
  margin: 30px auto;

}

h1 {
  font-size: 20px;
  border-bottom: 1px solid grey;
  text-align: center;
  padding-bottom: 8px;
}

h2 {
  font-size: 16px;
}

li {
  cursor: pointer;
}

.correct {
  color: green;
}

.correct::after {
  content: 'ー正解！';
}

.fail {
  color: red;
}

.fail::after {
  content: 'ー不正解！';
}